body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

header {display:flex;
justify-content: center;
}
ul {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: white;
    gap: 28px;
    text-transform: uppercase;
}